
body{  /* Add a background */
background:url(landingPageBG.jpg);
background-size: cover;
margin: 0;

}
.button-container{ /* button container so both buttons have share some attributes like position */ 

display:flex;
flex-direction: column;
gap: 10px;
margin: 30px;
position: absolute;
left: 1300px;
top: 10px;

}

button { /* characteristics of each button  */ 

padding: 10px 15px;
font-size: 15px;
background-color: black;
color: white;
border:none;
border-radius: 20px;
cursor: pointer;



}

button:hover { /* change color of the buttons when hovered */ 
background-color: darkgrey;
}

.container { /* container for the votify msg */
text-align: left;
padding: 20px;
background-color: #fff;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 8px;
font-family: 'garamond', serif;
font-size: 30px;
font-variant-caps: all-petite-caps;

}

.leftMsg { /* cast votes msg*/ 
text-align: left;
padding: 20px;
background: none;     
position: absolute;
left: 130px;
top: 350px;
font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
font-size: 30px;
font-variant-caps: all-petite-caps;
line-height: .25;
opacity: .1;
transition: 1s ease-in;

}

.leftMsg:hover{ /* when hovered it creates a lil animation*/ 
opacity: 1;
transform:scale(1.4)
}

.rightMsg { /* create polls msg */
text-align: left;
padding: 20px;
background: none;     
position: absolute;
left: 1150px;
top: 350px;
font-family:'Times New Roman', Times, serif;
font-size: 30px;
font-variant-caps: all-petite-caps;
line-height: .25;
opacity: .1;
transition: 1s ease-in;


}

.rightMsg:hover{ /* when hovered it creates a lil animation*/ 
opacity: 1;
transform:scale(1.4)

}
